name: Test `json-utils` action
on:
  push:
    branches:
      - main

jobs:
  test-diff:
    runs-on: [ "ubuntu-latest" ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Diff two arrays
        id: diff_two_arrays
        uses: ./ # Uses an action in the root directory
        with:
          input: '["1.0.0","1.1.0","1.2.0","1.2.1","1.3.0"]'
          secondary: '["1.0.0","1.1.0","1.2.0","1.2.1"]'
          action: "diff"
      - name: Test 1
        run: |
          echo "Expecting ['1.3.0']"
          echo "${{ steps.diff_two_arrays.outputs.result }}"
          test "${{ steps.diff_two_arrays.outputs.result }}" == "[1.3.0]"
      - name: Diff two arrays backwards
        id: diff_two_arrays_backwards
        uses: ./ # Uses an action in the root directory
        with:
          input: '["1.0.0","1.1.0","1.2.0","1.2.1","1.3.0"]'
          secondary: '["1.0.0","1.1.0","1.2.0","1.2.1"]'
          action: "diff"
          modifier: "right"
      - name: Test 2
        run: |
          echo "Expecting []"
          echo "${{ steps.diff_two_arrays_backwards.outputs.result }}"
          test "${{ steps.diff_two_arrays_backwards.outputs.result }}" == "[]"
      - name: Diff two arrays nested
        id: diff_two_arrays_nested
        uses: ./ # Uses an action in the root directory
        with:
          input: '[{"name":"v0.3.26","tag_name":"v0.3.26","prerelease":false,"published_at":"2023-08-07T09:43:28Z"},{"name":"v0.3.22","tag_name":"v0.3.22","prerelease":false,"published_at":"2023-11-12T10:58:00Z"},{"name":"v0.3.23","tag_name":"v0.3.23","prerelease":false,"published_at":"2023-11-12T10:59:27Z"},{"name":"v0.3.25","tag_name":"v0.3.25","prerelease":false,"published_at":"2023-11-12T11:01:20Z"},{"name":"v0.3.31","tag_name":"v0.3.31","prerelease":false,"published_at":"2023-11-12T11:17:17Z"},{"name":"v0.3.34","tag_name":"v0.3.34","prerelease":false,"published_at":"2023-11-12T11:21:59Z"}]'
          secondary: '[{"name":"v0.3.26","tag_name":"v0.3.26","prerelease":false,"published_at":"2023-08-07T09:43:28Z"},{"name":"v0.3.22","tag_name":"v0.3.22","prerelease":false,"published_at":"2023-11-12T10:58:00Z"},{"name":"v0.3.23","tag_name":"v0.3.23","prerelease":false,"published_at":"2023-11-12T10:59:27Z"},{"name":"v0.3.25","tag_name":"v0.3.25","prerelease":false,"published_at":"2023-11-12T11:01:20Z"},{"name":"v0.3.31","tag_name":"v0.3.31","prerelease":false,"published_at":"2023-11-12T11:17:17Z"}]'
          action: "diff"
          type: "nested-json"
          key: "name"
      - name: Test 2
        run: |
          echo "Expecting {"name":"v0.3.34","tag_name":"v0.3.34","prerelease":false,"published_at":"2023-11-12T11:21:59Z"}"
          echo "${{ steps.diff_two_arrays_nested.outputs.result }}"
          test "${{ steps.diff_two_arrays_nested.outputs.result }}" == "[{name:v0.3.34,tag_name:v0.3.34,prerelease:false,published_at:2023-11-12T11:21:59Z}]"

  test-sort:
    runs-on: [ "ubuntu-latest" ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Sort array of strings
        id: sort_array
        uses: ./
        with:
          input: '["1.0.0","1.1.0","1.2.0","1.2.1","1.3.0"]'
          action: "sort"
      - name: Test 1
        run: |
          echo "Expecting [1.0.0,1.1.0,1.2.0,1.2.1,1.3.0]"
          echo "${{ steps.sort_array.outputs.result }}"
          test "${{ steps.sort_array.outputs.result }}" == "[1.0.0,1.1.0,1.2.0,1.2.1,1.3.0]"
      - name: Sort backwards
        id: sort_array_backwards
        uses: ./
        with:
          input: '["1.0.0","1.1.0","1.2.0","1.2.1","1.3.0"]'
          action: "sort"
          modifier: "desc"
      - name: Test 2
        run: |
          echo "Expecting [1.3.0,1.2.1,1.2.0,1.1.0,1.0.0]"
          echo "${{ steps.sort_array_backwards.outputs.result }}"
          test "${{ steps.sort_array_backwards.outputs.result }}" == "[1.3.0,1.2.1,1.2.0,1.1.0,1.0.0]"
      - name: Diff two arrays nested
        id: sort_array_nested
        uses: ./ # Uses an action in the root directory
        with:
          input: '[{"name":"v0.3.26","tag_name":"v0.3.26","prerelease":false,"published_at":"2023-08-07T09:43:28Z"},{"name":"v0.3.22","tag_name":"v0.3.22","prerelease":false,"published_at":"2023-11-12T10:58:00Z"},{"name":"v0.3.23","tag_name":"v0.3.23","prerelease":false,"published_at":"2023-11-12T10:59:27Z"},{"name":"v0.3.25","tag_name":"v0.3.25","prerelease":false,"published_at":"2023-11-12T11:01:20Z"},{"name":"v0.3.31","tag_name":"v0.3.31","prerelease":false,"published_at":"2023-11-12T11:17:17Z"},{"name":"v0.3.34","tag_name":"v0.3.34","prerelease":false,"published_at":"2023-11-12T11:21:59Z"}]'
          action: "sort"
          type: "nested-json"
          key: "name"
          modifier: "desc"
      - name: Test 2
        run: |
          echo "Expecting {"name":"v0.3.34","tag_name":"v0.3.34","prerelease":false,"published_at":"2023-11-12T11:21:59Z"}"
          echo "${{ steps.sort_array_nested.outputs.result }}"
          test "${{ steps.sort_array_nested.outputs.result }}" == "[{name:v0.3.34,tag_name:v0.3.34,prerelease:false,published_at:2023-11-12T11:21:59Z},{name:v0.3.31,tag_name:v0.3.31,prerelease:false,published_at:2023-11-12T11:17:17Z},{name:v0.3.26,tag_name:v0.3.26,prerelease:false,published_at:2023-08-07T09:43:28Z},{name:v0.3.25,tag_name:v0.3.25,prerelease:false,published_at:2023-11-12T11:01:20Z},{name:v0.3.23,tag_name:v0.3.23,prerelease:false,published_at:2023-11-12T10:59:27Z},{name:v0.3.22,tag_name:v0.3.22,prerelease:false,published_at:2023-11-12T10:58:00Z}]"

  test-pick:
    runs-on: [ "ubuntu-latest" ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Pick "name"
        id: pick_name
        uses: ./ # Uses an action in the root directory
        with:
          input: '[{"name":"v0.3.26","tag_name":"v0.3.26","prerelease":false,"published_at":"2023-08-07T09:43:28Z"},{"name":"v0.3.22","tag_name":"v0.3.22","prerelease":false,"published_at":"2023-11-12T10:58:00Z"},{"name":"v0.3.23","tag_name":"v0.3.23","prerelease":false,"published_at":"2023-11-12T10:59:27Z"},{"name":"v0.3.25","tag_name":"v0.3.25","prerelease":false,"published_at":"2023-11-12T11:01:20Z"},{"name":"v0.3.31","tag_name":"v0.3.31","prerelease":false,"published_at":"2023-11-12T11:17:17Z"},{"name":"v0.3.34","tag_name":"v0.3.34","prerelease":false,"published_at":"2023-11-12T11:21:59Z"}]'
          action: "pick"
          key: "name"
      - name: Test 2
        run: |
          echo "Expecting"
          echo "${{ steps.pick_name.outputs.result }}"
          test "${{ steps.pick_name.outputs.result }}" == "[{name:v0.3.34,tag_name:v0.3.34,prerelease:false,published_at:2023-11-12T11:21:59Z},{name:v0.3.31,tag_name:v0.3.31,prerelease:false,published_at:2023-11-12T11:17:17Z},{name:v0.3.26,tag_name:v0.3.26,prerelease:false,published_at:2023-08-07T09:43:28Z},{name:v0.3.25,tag_name:v0.3.25,prerelease:false,published_at:2023-11-12T11:01:20Z},{name:v0.3.23,tag_name:v0.3.23,prerelease:false,published_at:2023-11-12T10:59:27Z},{name:v0.3.22,tag_name:v0.3.22,prerelease:false,published_at:2023-11-12T10:58:00Z}]"
